<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Download | InShare - File Sharing Made Easy</title>
    <link rel="stylesheet" href="/stylesheets/download.css" />
  </head>

  <body>
    <a href="/">
      <img src="/images/logo.png" alt="Inshare logo" class="logo" />
    </a>

    <section class="download">
      <img
        class="download__icon"
        src="/images/download-sd.svg"
        alt="inshare-download"
      />

      <% if(success){ %>

      <div class="link">
        <h2>Your file is ready to download</h2>
        <p>Link expires in 24 hours</p>
        <div class="download__meta">
          <h4><%= file.fileName %></h4>

          <small><%= parseInt(file.size /1000) %>KB</small>
        </div>
        <div class="send-btn-container">
          <a href="/files/<%= file._id %>/download">Download file</a>
        </div>
      </div>

      <% } else { %>

      <div class="link">
        <h2>Download Link has expired</h2>
      </div>

      <% } %>
    </section>
  </body>
</html>
